<%
  var icon = _.template(require('../components/icon.html').default)
  var picture = _.template(require('../components/picture.html').default)
  var loader = _.template(require('../components/loader.html').default)({icon})
  var preloader = require('../components/preloader.html').default
  var loading = _.template(require('../components/loading.html').default)({preloader})
%>

<dialog class="w-full max-w-3xl px-5 py-10 text-black bg-white dark:bg-black dark:text-white rounded-xl">
  <div class="flex flex-wrap items-center justify-between gap-5" data-filtering="calendar">
    <div class="relative">
      <div class="absolute inset-0 flex items-center justify-center overflow-hidden">
        <%= preloader %>
      </div>
      <div class="relative" id="calendar"></div>
    </div>
    <div class="w-full md:w-1/2">
      <% ['date-5-9', 'date-7-9', 'date-10-10'].forEach((item) => { %>
      <div class="w-full filtering-card pack pack-md bg-gray rounded-2xl" data-filtering-card="calendar" data-filtering-value="<%= item %>">
        <%= loader %>
        <%= picture({src: 'img/pictures/town-grey', format: 'jpg', className: 'pack-image image rounded-inherit', data: null}) %>
      </div>
      <% }) %>
    </div>
  </div>
  <%= loading %>
</dialog>