<%
  var icon = _.template(require('../components/icon.html').default)
  var preloader = require('../components/preloader.html').default
  var loading = _.template(require('../components/loading.html').default)({preloader})
  var error =require('../components/error.html').default
%>

<dialog class="bg-white dark:bg-black text-black dark:text-white rounded-xl w-full max-w-sm px-5 py-10">
  <form class="flex flex-col gap-5" data-form action="/primary.html">
    <input type="hidden" value="Авторизация" name="theme">
    <label data-label>
      <h5 class="font-medium text-xl/none mb-3">
        Login
      </h5>
      <div class="relative">
        <input class="input input-gray input-md dark:input-fade" data-input="login" type="text" name="login">
        <%= error %>
      </div>
    </label>
    <label data-label>
      <h5 class="font-medium text-xl/none mb-3">
        Password
      </h5>
      <div class="relative">
        <input class="input input-gray input-md dark:input-fade pr-10" data-input="password" type="password" placeholder="********" autocomplete="new-password" name="password">
        <%= error %>
        <button class="flex items-center justify-center absolute top-0 bottom-0 right-0 cursor-pointer w-10 h-full" data-password="" type="button">
          <%= icon({id: 'eye-visible', className: 'icon text-black text-xl', data: null}) %>
        </button>
      </div>
    </label>
    <button class="btn btn-second btn-fill btn-lg" data-waved="dark" type="submit">Enter</button>
  </form>
  <a class="text-second text-lg underline-offset-4 hover:underline w-max mt-5 mx-auto" data-fancybox-dialog draggable="false" href="/dialogs/dialog-politics.html">Privacy policy</a>
  <%= loading %>
</dialog>