<%
  var icon = _.template(require('../components/icon.html').default)
  var error =require('../components/error.html').default
%>

<div class="bg-white dark:bg-black text-black dark:text-white rounded-xl w-96 max-w-full px-5 py-10">
  <form class="flex flex-col gap-5" data-form action="/primary.html">
    <input type="hidden" value="Авторизация" name="theme">
    <label data-label>
      <h5 class="font-medium text-xl/none mb-3">
        Login
      </h5>
      <div class="relative">
        <input class="input input-gray dark:input-fade input-md" data-input="login" type="text" name="login">
        <%= error %>
      </div>
    </label>
    <label data-label>
      <h5 class="font-medium text-xl/none mb-3">
        Password
      </h5>
      <div class="relative">
        <input class="input input-gray dark:input-fade input-md pr-10" data-input="password" type="password" placeholder="********" autocomplete="new-password" name="password">
        <%= error %>
        <button class="flex items-center justify-center absolute top-0 bottom-0 right-0 cursor-pointer w-10 h-full" data-password="" type="button">
          <%= icon({id: 'eye-visible', className: 'icon text-black text-xl', data: null}) %>
        </button>
      </div>
    </label>
    <button class="btn btn-second btn-fill btn-lg" data-waved="dark" type="submit">Enter</button>
  </form>
  <div class="flex justify-center mt-5">
    <a class="text-second text-lg underline-offset-4 hover:underline" data-fancybox-dialog data-type="ajax" draggable="false" href="/dialogs/dialog-politics.html">Privacy policy</a>
  </div>
</div>