<%
  var icon = _.template(require('../components/icon.html').default)
  var picture = _.template(require('../components/picture.html').default)
  var loader = _.template(require('../components/loader.html').default)
  var preloader = require('../components/preloader.html').default
%>

<div class="bg-white dark:bg-black text-black dark:text-white rounded-xl w-[760px] max-w-full px-5 py-10">
  <div class="flex flex-wrap items-center justify-between gap-5" data-filtering="calendar">
    <div class="relative">
      <div class="flex items-center justify-center absolute inset-0 overflow-hidden">
        <%= preloader %>
      </div>
      <div class="relative" id="calendar"></div>
    </div>
    <div class="w-full md:w-1/2">
      <% ['date-5-2', 'date-7-2', 'date-10-3'].forEach((item) => { %>
      <div class="filtering-card pack pack-md bg-gray rounded-2xl w-full" data-filtering-card="calendar" data-filtering-value="<%= item %>" data-media>
        <%= loader({className: null, icon}) %>
        <%= picture({src: '/', format: '', className: 'pack-image image rounded-inherit', data: 'data-lazy data-src="/img/pictures/town-grey.jpg"'}) %>
      </div>
      <% }) %>
    </div>
  </div>
</div>