<%
  var icon = _.template(require('../components/icon.html').default)
  var picture = _.template(require('../components/picture.html').default)
  var loader = _.template(require('../components/loader.html').default)
%>

<div class="bg-white dark:bg-black text-black dark:text-white rounded-xl w-[760px] max-w-full px-5 py-10">
  <div class="flex flex-wrap items-center justify-between gap-5" data-filtering="calendar">
    <div data-calendar></div>
    <div class="w-full md:w-1/2">
      <% ['5-5-2026', '7-5-2026', '10-6-2026'].forEach((item) => { %>
      <div class="filtering-card pack pack-md bg-gray rounded-2xl w-full" data-filtering-card="calendar" data-filtering-value="<%= item %>" data-media>
        <%= loader({className: null, icon}) %>
        <%= picture({src: '/', format: '', className: 'pack-image image rounded-inherit', data: 'data-lazy data-src="/img/pictures/town-grey.jpg"'}) %>
      </div>
      <% }) %>
    </div>
  </div>
</div>