<!-- Карта -->

<section class="container xl:container-distance relative bg-grey dark:bg-dark overflow-hidden h-96" data-yandex>
  <%= loader({className: null, icon}) %>
  <div class="absolute inset-0" data-yandex-map="45.03191007458623,38.921171499999936" data-point="/img/pictures/point.svg"></div>
</section>

<!-- Подвал -->

<footer class="container flex flex-wrap flex-col md:flex-row items-center justify-between gap-4 bg-black text-second pt-4 pb-10 md:pb-4 mt-auto" id="footer">
  <a class="btn btn-white w-36" data-waved="light" draggable="false" href="/">
    <%= picture({src: '/img/pictures/logo', format: 'png', className: 'w-full', data: null}) %>
  </a>
  <address class="text-center">
    ​Рождественская набережная, <br> 45/1​5 офис; 3 этаж
  </address>
  <a class="btn btn-second text-lg w-max p-1" data-waved="light" data-fancybox-dialog data-type="ajax" draggable="false" href="/dialogs/dialog-politics.html">Privacy policy</a>
  <div>
    © <span id="year"></span>
  </div>
  <span class="text-lg">
    Разработка: <a class="underline w-max" draggable="false" href="https://stdkit.ru/" target="_blank">Студия К.И.Т.</a>
  </span>
</footer>

</div>

</body>

</html>