[data-scroll] {
  @apply will-change-transform;
}

.fancybox {
  &__dialog &__slide {

    .f-html {
      @apply bg-transparent p-0 max-w-full;
    }

    .f-button.is-close-button {
      @apply top-2 right-2 bg-white text-black rounded-full shadow-md;
    }

    [hidden]:empty {
      @apply hidden;
    }
  }
}

.swiper {
  &-pagination {
    @apply flex items-center justify-center static gap-4;

    &-bullet {
      @apply bg-current rounded-full transition size-3 !m-0;
    }
  }

  &-button {

    &-prev,
    &-next {
      &::after {
        @apply hidden;
      }

      svg {
        width    : 1em;
        min-width: 1em;
        height   : 1em;

        @apply block object-none;
      }
    }
  }
}

#air-datepicker-global-container {
  z-index: 1100;
}