@layer components {
  .btn {
    * {
      @apply pointer-events-none;
    }

    --btn-color: var(--color-black);
    --btn-accent: var(--color-white);
    --btn-hovered: var(--color-black);
    --btn-fade: color-mix(in srgb, var(--btn-color) 30%, transparent);
    --btn-focus: color-mix(in srgb, var(--btn-color) 40%, transparent);
    --btn-fill: color-mix(in srgb, var(--btn-color) 80%, var(--btn-hovered));

    @apply relative flex cursor-pointer items-center justify-center text-center text-base font-semibold text-(--btn-color) transition duration-200 select-none;

    &:disabled {
      @apply pointer-events-none opacity-50;
    }

    &:focus-visible {
      box-shadow: 0 0 0 4px var(--btn-focus);

      @apply bg-(--btn-fade);
    }

    @media (hover: hover) {
      &:hover {
        @apply bg-(--btn-fade);
      }

      &:active {
        box-shadow: inset 0 4px 4px color-mix(in srgb, var(--color-black) 30%, transparent);

        @apply translate-y-1;
      }
    }
  }

  .btn-fill {
    @apply bg-(--btn-color) text-(--btn-accent);

    &:focus-visible {
      @apply bg-(--btn-fill);
    }

    @media (hover: hover) {
      &:hover {
        @apply bg-(--btn-fill);
      }
    }
  }

  .btn-fade {
    @apply bg-(--btn-fade);

    &:focus-visible {
      @apply bg-(--btn-color) text-(--btn-accent);
    }

    @media (hover: hover) {
      &:hover {
        @apply bg-(--btn-color) text-(--btn-accent);
      }
    }
  }

  .btn-text {
    @apply border border-solid border-(--btn-accent) bg-(--btn-accent);

    &:focus-visible {
      @apply border-(--btn-color) bg-(--btn-accent);
    }

    @media (hover: hover) {
      &:hover {
        @apply border-(--btn-color) bg-(--btn-accent);
      }
    }
  }

  .btn-contur {
    @apply border border-solid border-(--btn-color);
  }

  .btn-light {
    --btn-hovered: var(--color-white);
  }

  .btn-swipe {
    @apply z-1 overflow-hidden;

    &::before {
      transition-property: width;

      @apply content-auto absolute top-0 right-0 bottom-0 left-auto -z-1 w-0 bg-(--btn-color) duration-200 ease-in-out;
    }

    @media (hover: hover) {
      &:hover {
        @apply bg-transparent text-(--btn-accent);

        &::before {
          @apply left-0 w-full;
        }
      }
    }
  }
}
