@theme {
  --font-alt: 'Gilroy', Arial, sans-serif;
  --font-base: 'Inter', Helvetica, sans-serif;
  --color-*: initial;
  --color-primary: #af1a4c;
  --color-second: #d7a751;
  --color-black: #000;
  --color-white: #fff;
  --color-gray: #b2b2b2;
  --color-grey: #f6f7f9;
  --color-dark: #303030;
  --color-red: #be1b1b;
  --color-green: #27ae60;
  --breakpoint-*: initial;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1366px;
  --breakpoint-xxl: 1920px;
  --ui-sm: 32;
  --ui-md: 40;
  --ui-lg: 48;
  --ui-xl: 56;
  --ui-xxl: 64;
  --text-min: 0.5rem;
  --text-min--line-height: 0.625rem;
  --text-xxs: 0.625rem;
  --text-xxs--line-height: 0.75rem;
  --text-1\.5xl: 1.375rem;
  --text-1\.5xl--line-height: 1.75rem;
  --text-2\.5xl: 1.75rem;
  --text-2\.5xl--line-height: 2.125rem;
  --content-auto: '';
}

@custom-variant dark (&:where([data-theme='dark'], [data-theme='dark'] *));
