@utility rounded-inherit {
  border-radius: inherit;
}

@utility btn-* {
  --btn-color: --value(--color-*);
}

@utility btn-* {
  --btn-size: calc(--value(--ui-*) / 16 * 1rem);

  padding-inline: calc(var(--btn-size) / 2);

  @apply h-(--btn-size) rounded-lg;
}

@utility input-* {
  --input-color: --value(--color-*);
}

@utility input-* {
  --input-size: calc(--value(--ui-*) / 16 * 1rem);
}
