@utility rounded-inherit {
  border-radius: inherit;
}

@utility icon {
  width: 1em;
  min-width: 1em;
  height: 1em;
}

@utility media {
  @apply absolute inset-0 size-full max-w-none object-cover;
}

@utility btn-* {
  --btn-color: --value(--color-*);
}

@utility btn-* {
  --btn-size: calc(--value(--ui-*) / 16 * 1rem);

  padding-inline: calc(var(--btn-size) / 2);

  @apply h-(--btn-size) rounded-lg;
}

@utility input-fade {
  --input-text: var(--color-white);

  @apply bg-transparent;
}

@utility input-* {
  --input-color: --value(--color-*);
}

@utility input-* {
  --input-size: calc(--value(--ui-*) / 16 * 1rem);
}

@utility wrapper-distance {
  --wrapper-distance: 1.25rem;
  --wrapper-content: calc(var(--wrapper-value) + (var(--wrapper-distance) * 2));

  @apply m-(--wrapper-distance) rounded-(--wrapper-distance);
}
