@source not inline('container');

@utility rounded-inherit {
  border-radius: inherit;
}

@utility rounded-tl-inherit {
  border-top-left-radius: inherit;
}

@utility rounded-tr-inherit {
  border-top-right-radius: inherit;
}

@utility rounded-bl-inherit {
  border-bottom-left-radius: inherit;
}

@utility rounded-br-inherit {
  border-bottom-right-radius: inherit;
}

@utility rounded-t-inherit {
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
}

@utility rounded-b-inherit {
  border-bottom-right-radius: inherit;
  border-bottom-left-radius: inherit;
}

@utility rounded-l-inherit {
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
}

@utility rounded-r-inherit {
  border-top-right-radius: inherit;
  border-bottom-right-radius: inherit;
}

@utility btn-* {
  --btn-color: --value(--color-*);
}

@utility btn-* {
  --btn-size: calc(--value(--ui-*) / 16 * 1rem);

  padding-inline: calc(var(--btn-size) / 2);

  @apply h-(--btn-size) rounded-lg;
}

@utility input-* {
  --input-color: --value(--color-*);
}

@utility input-* {
  --input-size: calc(--value(--ui-*) / 16 * 1rem);
}
