{% import 'src/components/icon.njk' as icon %}

{% macro render(value) %}
<button class="swiper-button-prev btn btn-primary btn-fill hidden md:flex absolute -left-6 rounded-full size-12" data-slider-prev="{{ value }}" data-waved="light">
  {{ icon.render(id = 'arrow-left') }}
</button>
{% endmacro %}