<%
  const props = {
    title: 'Icons',
    status: true
  }

  const icon = include('components/icon.html')
  const header = include('includes/header.html')({props})
  const footer = include('includes/footer.html')({})
%>

<%= header %>

<!-- <%= props.title %> -->

<% const icons = ['loader', 'burger', 'close', 'success', 'basket', 'search', 'like', 'calendar', 'star', 'arrow-left', 'arrow-right', 'arrows', 'arrow-bottom', 'eye-visible', 'eye-hidden', 'file', 'user', 'ok', 'yt', 'inst', 'fb', 'tw', 'vk', 'play', 'pause', 'arrow-prev', 'arrow-next', 'volume-on', 'volume-off', 'loading', 'trash'] %>

<section class="container grow">
  <ul class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-6 gap-x-3 gap-y-6">
    <% icons.forEach((item) => { %>
    <li class="flex items-center">
      <%= icon({id: item, className: 'icon mr-2', data: null}) %>
      id: <%= item %>
    </li>
    <% }) %>
  </ul>
</section>

<%= footer %>